@charset "utf-8";
/* CSS Document */
.btn-Inicio
.btn-Enviar
{
    background-color: #008CBA; /* Blue */
    color: white;
    text-align: center;
   	font-size: 28px;
	width: 100px;
	height:80px;
	font-weight: bold;
}
a.btn-Registro
{
	background-color: #2ecc71; /* Green */
    color: white;
    text-align: center;
   	font-size: 15px;
	width: 95px;
	height:30px;
	font-weight: bold;
}

nav.navbar
{
	background-color:#fdfefe;
}
.text-center
{
	background-size: 30px;
	color: #FFA500;
	font-weight: bold;
}
.text-area
{
	background-size: 30px;
	color: #008CBA;
	font-weight: bold;
}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img 
{
    width: 30%;
    margin: auto;
    max-width: 100%;
    width: 400px;
	height:200px;
	border-color:#FFA500;
}
a.btn-area{
	background-color: #5dade2;
	color: #7d3c98;
	font-weight: bold;
	font-size: 20px;
	width: 170px;
	height:50px;
	border-radius: 8px;
}
.btn-tema{
	background-color: #FFA500;
	color: #fdfefe;
	font-weight: bold;
	font-size: 20px;
	width: 120px;
	height:40px;
	border-radius: 8px;
}
.btn-barra{
	background-color: #5dade2;
	color: #7d3c98;
	font-weight: bold;
	font-size: 20px;
	width: 170px;
	height:50px;
	border-radius: 8px;
}
.btn-actividad{
	background-color: #5dade2;
	color: #7d3c98;
	font-weight: bold;
	font-size: 15px;
	width: 100px;
	height:30px;
	border-radius: 8px;	
}
hr {
	display: block;
	position: relative;
	padding: 0;
	margin: 8px auto;
	height: 0;
	width: 70%;
	max-height: 0;
	font-size: 1px;
	line-height: 0;
	clear: both;
	border: none;
	border-top: 2px solid  #5dade2;
   	}
.dropdown-menu > li > a {
	background-color: #FFA500;
	color: #fdfefe;
	font-weight: bold;
	font-size: 15px;
	}



